@{
    ViewData["Title"] = "Introduction";
}

<head>
    <link rel="stylesheet" href="~/Content/introPage.css" />
</head>

<h2>Welcome Yarisha's First .NET Web Page!</h2>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <span style="color:red">Isn't this really cool?</span>
    </div>
    <div class="col-md-6 col-xs-12">
        <button class="col-md-3 col-xs-6">Yes, it is!</button>
        <button class="col-md-3 col-xs-6" style="width:auto">Yeah,sure,whatever.</button>
    </div>
</div>