

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <title>Dashboard | Remark Admin Template</title>
    <link rel="apple-touch-icon" href="~/global/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/global/assets/images/favicon.ico">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/site.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="~/global/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/global/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/global/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="~/global/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/global/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/global/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="~/global/vendor/waves/waves.css">

    <link rel="stylesheet" href="~/global/assets/examples/css/dashboard/v1.css">
    <link rel="stylesheet" href="~/global/assets/examples/css/structure/ribbon.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <!-- Fonts -->
    <link rel="stylesheet" href="~/global/fonts/material-design/material-design.min.css">
    <link rel="stylesheet" href="~/global/fonts/brand-icons/brand-icons.min.css">
    <link href="~/global/assets/skins/red.min.css" rel="stylesheet" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <script src="~/global/vendor/modernizr/modernizr.js"></script>
    <script src="~/global/vendor/breakpoints/breakpoints.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>



        <script>
            Breakpoints();
    </script>
    <link rel="stylesheet" href="~/Content/main_styles.css" />

    <script>
        $(document).ready(function () {
                    $("#collapse_btn").click(function () {
                        console.log("clicked");
                        $("#collapse_btn").hide();
                        $("#sidebar_expanded").show("slide", { direction: "left" },500);
                    });
                    $("#expand_btn").click(function () {
                        console.log("clicked");
                        $("#sidebar_expanded").hide("slide", { direction: "left" }, 500, function () {
                            $("#collapse_btn").show();
                        });
                       
                    });

                });

    </script>


    <style>
        body {
            padding: 0px;
        }

        .navbarlinks {
            color: #333;
            font-family: 'Patua One',cursive;
            font-weight: bold;
            cursor: pointer;
        }

        .navbar-nav {
            position: relative;
            right: 5px;
            float: right;
            color: #333;
        }


            .navbar-nav > li > a:hover {
                background-color: #ffd11a;
                color: #333 !important;
            }



        .navbar-brand,
        .navbar-brand:hover {
            color: #333 !important;
            font-weight: bold;
            font-size: 25px;
            font-family: 'Patua One',cursive;
            cursor: pointer;
        }

        .navbar {
            margin-bottom: 0px;
            position: absolute;
        }

        .icon-bar {
            background-color: #333;
        }

        .site-menubar-body {
            position: relative;
        }

        .wrapper {
            display: flex;
            flex-flow:row;
            width:100%;
            height: 100%;
            position: relative;
            margin-top:50px;
        }

        .sidebar-expanded {
            height: 100%;
            width: 30vh;
            background-color: #323232;
            display: none;
        }

        .sidebar-collapsed {
            height: 100%;
            width: 10vh;
            background-color: #323232;
        }

        .site-menu-collapse {
            height: 100%;
            width: 10vh;
            margin-top: 75px;
            list-style-type: none;
            align-items:center;
            padding:0px;
            color: #ffcc00;
        }
            .site-menu-collapse > li > a {
                color: #ffcc00;
                width: 10vh;
                height:30%;
            }

            .site-menu-collapse > li > a > span {
                color: #ffcc00;
                width: 10vh;
            }

            .site-menu-collapse > li {
                width: 10vh;
                height:50px;
                padding-left:25px;
            }

        .site-menu {
            height: 100%;
            width: 30vh;
            padding-top: 50px;
            list-style-type: none;
            color: #ffcc00;
            padding-bottom:0px;
            padding-left:0px;
        }

            .site-menu > li > a {
                color: #ffcc00;
                width:30vh;
            }

            .site-menu > li > a > span {
                color: #ffcc00;
                width: 30vh;
            }

            .site-menu > li {
                width: 30vh;
                
            }

        .page {
            width: 750px;
            height: 250px !important;
            margin-top: 25px;
            padding: 25px;
            color: #333333;
            font-family: 'Roboto Condensed', sans-serif;
        }

       
        .collapse_sidebar {
            position: relative;
            float: right;
            right: 0px;
            height: 100%;
            outline: 0px;
            background-color: inherit;
            border: none;
            color: #ffcc00;
            top: 0px;
            font-size: 20px;
        }
    </style>
</head>
<body class="dashboard site-menubar-fold">

    <nav class="navbar navbar-fixed-top navigationbar" style="background-color: #ffcc00;color: #333;">
        <div class="container">
            <div class="navbar-header" style="background-color: #ffcc00;color: #333;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">The Amazing Race</a>
            </div>
            <div class="navbar-collapse collapse" style="background-color: #ffcc00;color: #333;">
                <ul class="nav navbar-nav">
                    <li><a class="navbarlinks" asp-area="" asp-controller="AmazingRace" asp-action="Index">Home</a></li>
                    <li><a class="navbarlinks" asp-area="" asp-controller="AmazingRace" asp-action="About">About</a></li>
                    <li><a class="navbarlinks" asp-area="" asp-controller="AmazingRace" asp-action="Contact">Contact</a></li>
                    <li><a id="login_button" class="navbarlinks signin" asp-area="" asp-controller="AmazingRace" asp-action="SignOut">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <div class="sidebar-collapsed" id="sidebar_collapsed">

            <button class="collapse_sidebar" id="collapse_btn">
                <i class="ion-android-arrow-dropright" aria-hidden="true"></i>
            </button>

            <ul class="site-menu-collapse">
                <li class="site-menu-item">
                    <a class="animsition-link" href="~/AmazingRace/GotoDahsboard">
                        <i class="ion-android-list" aria-hidden="true"></i>
                    </a>
                </li>

                <li class="site-menu-item has-sub">
                    <a class="animsition-link" href="~/AmazingRace/Events">

                        <i class="ion-android-calendar" aria-hidden="true"></i>

                    </a>
                </li>

                <li class="site-menu-item has-sub">
                    <a href="~/Recordings/Index">
                        <i class="ion-android-people" aria-hidden="true"></i>

                    </a>
                </li>
                <li class="site-menu-item has-sub">
                    <a href="~/Forms/Index">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#ffcc00" d="M16.5,5.5A2,2 0 0,0 18.5,3.5A2,2 0 0,0 16.5,1.5A2,2 0 0,0 14.5,3.5A2,2 0 0,0 16.5,5.5M12.9,19.4L13.9,15L16,17V23H18V15.5L15.9,13.5L16.5,10.5C17.89,12.09 19.89,13 22,13V11C20.24,11.03 18.6,10.11 17.7,8.6L16.7,7C16.34,6.4 15.7,6 15,6C14.7,6 14.5,6.1 14.2,6.1L9,8.3V13H11V9.6L12.8,8.9L11.2,17L6.3,16L5.9,18L12.9,19.4M4,9A1,1 0 0,1 3,8A1,1 0 0,1 4,7H7V9H4M5,5A1,1 0 0,1 4,4A1,1 0 0,1 5,3H10V5H5M3,13A1,1 0 0,1 2,12A1,1 0 0,1 3,11H7V13H3Z" />
                        </svg>
                    </a>
                </li>
            </ul>

        </div>
        <div class="sidebar-expanded" id="sidebar_expanded">
            <button class="collapse_sidebar" id="expand_btn">
                <i class="ion-android-arrow-dropleft" aria-hidden="true"></i>
            </button>
            <ul class="site-menu">
                <li class="site-menu-item ">
                    <a class="animsition-link" href="~/AmazingRace/GotoDahsboard">
                        <i class="site-menu-icon md-widgets" aria-hidden="true"></i>
                        <span class="site-menu-title"> Dashboard</span>
                    </a>
                </li>

                <li class="site-menu-item has-sub">
                    <a class="animsition-link" href="~/AmazingRace/Events">

                        <i class="site-menu-icon md-google-pages" aria-hidden="true"></i>
                        <span class="site-menu-title">Events</span>
                    </a>
                </li>

                <li class="site-menu-item has-sub">
                    <a href="~/Recordings/Index">
                        <i class="site-menu-icon md-search-replace" aria-hidden="true"></i>
                        <span class="site-menu-title">Teams</span>
                    </a>
                </li>
                <li class="site-menu-item has-sub">
                    <a href="~/Forms/Index">
                        <i class="site-menu-icon md-truck" aria-hidden="true"></i>
                        <span class="site-menu-title">Race</span>
                    </a>
                </li>


            </ul>
        </div>

        <!-- Page -->
        <div class="page animation">

            @RenderBody()

        </div>
    </div>

    <!-- Core  -->
    <script src="~/global/vendor/jquery/jquery.js"></script>
    <script src="~/global/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/global/vendor/animsition/animsition.js"></script>
    <script src="~/global/vendor/asscroll/jquery-asScroll.js"></script>
    <script src="~/global/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/global/vendor/asscrollable/jquery.asScrollable.all.js"></script>
    <script src="~/global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
    <script src="~/global/vendor/waves/waves.js"></script>
    <!-- Plugins -->
    <script src="~/global/vendor/switchery/switchery.min.js"></script>
    <script src="~/global/vendor/intro-js/intro.js"></script>
    <script src="~/global/vendor/screenfull/screenfull.js"></script>
    <script src="~/global/vendor/slidepanel/jquery-slidePanel.js"></script>

    <script src="~/global/vendor/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="~/global/vendor/jvectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/global/vendor/matchheight/jquery.matchHeight-min.js"></script>
    <script src="~/global/vendor/peity/jquery.peity.min.js"></script>
    <!-- Scripts -->
    <script src="~/global/js/core.js"></script>
    <script src="~/global/assets/js/site.js"></script>
    <script src="~/global/assets/js/sections/menu.js"></script>
    <script src="~/global/assets/js/sections/menubar.js"></script>
    <script src="~/global/assets/js/sections/sidebar.js"></script>
    <script src="~/global/js/configs/config-colors.js"></script>
    <script src="~/global/assets/js/configs/config-tour.js"></script>
    <script src="~/global/js/components/asscrollable.js"></script>
    <script src="~/global/js/components/animsition.js"></script>
    <script src="~/global/js/components/slidepanel.js"></script>
    <script src="~/global/js/components/switchery.js"></script>
    <script src="~/global/js/components/tabs.js"></script>
    <script src="~/global/js/components/matchheight.js"></script>

    <script src="~/global/js/components/peity.js"></script>
    <script src="~/global/js/components/asscrollable.js"></script>
    <script src="~/global/js/components/slidepanel.js"></script>
    <script src="~/global/js/components/switchery.js"></script>
    <script src="~/global/js/components/jquery-appear.js"></script>
    <script src="~/global/js/components/nprogress.js"></script>
    <script src="~/global/assets/examples/js/dashboard/v1.js"></script>
    <script src="~/global/assets/examples/js/advanced/animation.js"></script>
</body>
</html>