@model AmazingRace.Models.MyViewModel
@using System


@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Staff/Views/Shared/LayoutDashboard.cshtml";
}

<head>

    <script>

        var psmarkers = @Html.Raw(ViewBag.PitStopMarkers);
        var numofTeams = @Html.Raw(ViewBag.TeamCount);
        var steps = [];
        var map;
        window.onload = function () {

            var directionsService = new google.maps.DirectionsService();
            var directionsDisplay = new google.maps.DirectionsRenderer({ suppressMarkers: true });

            //console.log(numofTeams);
            var mapOptions = {
                center: new google.maps.LatLng(psmarkers[0].lat, psmarkers[0].lng),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infoWindow = new google.maps.InfoWindow();

            map = new google.maps.Map(document.getElementById("map"), mapOptions);
            directionsDisplay.setMap(map);

            setPitStopMarkers(map, psmarkers);
            

            var request = {
                origin: new google.maps.LatLng(psmarkers[0].lat, psmarkers[0].lng),
                destination: new google.maps.LatLng(psmarkers[psmarkers.length - 1].lat, psmarkers[psmarkers.length-1].lng),
                travelMode: 'WALKING'
            };

            

            directionsService.route(request, function (result, status) {
                if (status == 'OK') {
                    directionsDisplay.setDirections(result);
                    //console.log(result);
                    if (result.routes != null) {
                        steps = result.routes[0].legs[0].steps;
                    }
                    console.log(steps);

                }
            });
            //console.log(numofTeams);

            setTeamMarker(map, numofTeams);

        }

        
        var origin = [psmarkers[0].lat, psmarkers[0].lng];
        var result = [psmarkers[psmarkers.length - 1].lat, psmarkers[psmarkers.length - 1].lng];
        var i = 0;
        var numDeltas = 100;
        var deltaLat = (result[0] - origin[0]) / numDeltas;
        var deltaLng = (result[1] - origin[1]) / numDeltas;

        function beginSimulation() {


            var mapOptions = {
                center: new google.maps.LatLng(psmarkers[0].lat, psmarkers[0].lng),
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map"), mapOptions);

            setTeamMarker(map, 0);
            setPitStopMarkers(map, psmarkers);
            var teams = [];
            while (teams.length < numofTeams) {
                var randomnumber = Math.floor(Math.random() * numofTeams) + 1;
                if (teams.indexOf(randomnumber) > -1) continue;
                teams[teams.length] = randomnumber;
            }
            teams = teams.sort();
            
            var teamMarkers = [];
            for (var t = 0; t < numofTeams; t++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(origin[0], origin[1]),
                    map: map,
                    icon:'/sprint.png'
                });
                teamMarkers[t] = marker;
            }
            
            for (var i = 0; i < teamMarkers.length; i++) {
                moveMarker(teamMarkers[i]);
                
            }
           
            
        }


        function moveMarker(teamMarker) {
            origin[0] += deltaLat;
            origin[1] += deltaLng;
            var latlng = new google.maps.LatLng(origin[0], origin[1]);
            teamMarker.setPosition(latlng);
            if (i != numDeltas) {
                i++;
                setTimeout(moveMarker, 10);
            }
        }

        
        

        




        function setTeamMarker(map, count) {
            for (var t = 0; t < count; t++) {
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(psmarkers[psmarkers.length - 1].lat, psmarkers[psmarkers.length - 1].lng),
                    map: map,
                    icon: '/sprint.png'
                });
            }
        }

        function setPitStopMarkers(map, psmarkers) {
            for (var i = 0; i < psmarkers.length; i++) {
                var data = psmarkers[i];
                var LatLng = new google.maps.LatLng(psmarkers[i].lat, psmarkers[i].lng);
                var marker = new google.maps.Marker({
                    position: LatLng,
                    map: map,
                    title: data.location,
                    icon: '/checkered-flag.png'
                });
                (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent(data.location);
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
        }

        function sleep(time) {
            return new Promise((resolve) => setTimeout(resolve, time));
        }


        

       

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfMIjRBmRAonZmdhDRtV0QnsJqVZkj0qw">
    </script>
    <style>
        .container {
            height: 100%;
        }

        #map {
            width: 50%;
            height: 50%;
        }

        #test {
            width: 50%;
            height: 50%;
        }

        .pitstops {
        }

        .row {
            width: 50%;
            height: 50%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div id="map"></div>
        <div>

            @if (Model != null)
            {
                var eventDate = Model.date;
                var eventTime = Model.time;
                DateTime today = DateTime.Today;
                var result = DateTime.Compare(today.Date, eventDate.Date);
                if (result == 0 || result > 0 )
                {
                    <button onclick="beginSimulation()">View Live Simulation of the event</button>
                }

            }






            <div id="test"></div>


        </div>



    </div>
</body>