@model IEnumerable<AmazingRace.Models.PitStops>



@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Staff/Views/Shared/LayoutDashboard.cshtml";
}

<head>

    <script>
        function initMap() {
            var uluru = { lat: -25.363, lng: 131.044 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfMIjRBmRAonZmdhDRtV0QnsJqVZkj0qw&callback=initMap">
    </script>
    <style>
        .container {
            height: 100%;
        }

        #map {
            width: 50%;
            height: 50%;
        }

        .pitstops {
            width: 500px;
            height: 500px;
        }

        .row {
            width: 50%;
            height: 50%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div id="map">

        </div>
        <div class="row">
            @if (Model != null) {
                foreach(var item in Model) {
                    <div>@Html.DisplayFor(modelItem => item.Name)</div>
                }   
            }

        </div>
    </div>
</body>