
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Staff/Views/Shared/LayoutDashboard.cshtml";

}

<head>
    <link rel="stylesheet" href="~/Content/main_styles.css" />


    
</head>

<body>

    <div class="page animation" style="top:25px;">
        <div class="page-header">
            <h1 class="page-title">Dashboard</h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active"><a href="javascript:void(0)">Dashboard</a></li>

            </ol>
            <div class="page-header-actions">
                <button type="button" class="btn btn-sm btn-primary btn-round">
                    <span class="text hidden-xs">Settings</span>
                    <i class="icon md-chevron-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                </div>
            </div>
            <!-- End Widget -->
        </div>
        <div class="clearfix visible-lg-block"></div>

    </div>
</body>


<!-- End Page -->
